<h6>All Containers</h6>

<div class="container">
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
</div>

<div class="container-sm">
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
</div>

<div class="container-md">
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
</div>

<div class="container-lg">
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
</div>

<div class="container-xl">
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
</div>

<div class="container-fluid">
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
</div>

<hr>

<h6>Use of row</h6>

<div class="row">
  <div class="col">1 of 2</div>
  <div class="col">2 of 2</div>
</div>

<hr>

<h6>Use of Containers</h6>

<!-- Containers provide a means to center and horizontally pad your site’s contents.
  Use .container for a responsive pixel width or .container-fluid for width: 100% across all viewport and device sizes.
  Utilize breakpoint-specific column classes for easy column sizing without an explicit numbered class like .col-sm-6. -->
<div class="container">
  <div class="row">
    <div class="col">1 of 2</div>
    <div class="col">2 of 2</div>
  </div>
  <div class="row">
    <div class="col">1 of 3</div>
    <div class="col">2 of 3</div>
    <div class="col">3 of 3</div>
  </div>
</div>

<hr>

<h6>Equal-width multi-line columns</h6>

<div class="container">
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="w-100"></div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
</div>

<hr>

