<h3>All Containers</h3>

<div class="container">
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
</div>

<div class="container-sm">
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
</div>

<div class="container-md">
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
</div>

<div class="container-lg">
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
</div>

<div class="container-xl">
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
</div>

<div class="container-fluid">
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
</div>

<hr>

<h3>Display</h3>

<div class="d-lg-none">hide on lg and wider screens</div>
<div class="d-none d-lg-block">hide on screens smaller than lg</div>
<div class="d-none d-md-block d-lg-none">Visible only on md</div>

<hr>

<div class="d-print-none">Screen Only (Hide on print only)</div>
<div class="d-none d-print-block">Print Only (Hide on screen only)</div>
<div class="d-none d-lg-block d-print-block">Hide up to large on screen, but always show on print</div>

<hr>

<h3>Text</h3>

<h6>Truncate</h6>
<!-- Block level -->
<div class="row">
  <div class="col-2 text-truncate">
    Praeterea iter est quasdam res quas ex communi.
  </div>
</div>

<!-- Inline level -->
<span class="d-inline-block text-truncate" style="max-width: 150px;">
  Praeterea iter est quasdam res quas ex communi.
</span>

<h6>Break the word</h6>
<p class="text-break">mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>

<h6>Text transform</h6>

<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">CapiTaliZed text.</p>

<h6>Display Classes</h6>

<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>

<h6>Keyboard input</h6>

To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>

<hr>

<h3>Table</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<hr>
