.container {
  background-color: palegreen;
}

.container-sm {
    background-color: palegoldenrod;
}

.container-md {
    background-color: lightsalmon;
}

.container-lg {
    background-color: lightblue;
}

.container-xl {
    background-color: lightcoral;
}

.container-fluid {
  background-color: paleturquoise;
}

.col, div[class*="col"] {
  border: 1px solid;
}

.row-min-height-flex {
  min-height: 100px;
  border: 1px solid;
}

h3 {
  text-align: center;

  margin: 20px;
}

h6 {
  text-decoration: underline;
}
