<h6>All Containers</h6>

<div class="container">
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
  container : 100% wide until small breakpoint
</div>

<div class="container-sm">
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
  container-sm : 100% wide until small breakpoint
</div>

<div class="container-md">
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
  container-md : 100% wide until medium breakpoint
</div>

<div class="container-lg">
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
  container-lg : 100% wide until large breakpoint
</div>

<div class="container-xl">
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
  container-xl : 100% wide until extra large breakpoint
</div>

<div class="container-fluid">
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
  container-fluid : 100% wide at all breakpoints
</div>

<hr>

<h6>Display</h6>

<div class="d-lg-none">hide on lg and wider screens</div>
<div class="d-none d-lg-block">hide on screens smaller than lg</div>
<div class="d-none d-md-block d-lg-none">Visible only on md</div>

<hr>

<div class="d-print-none">Screen Only (Hide on print only)</div>
<div class="d-none d-print-block">Print Only (Hide on screen only)</div>
<div class="d-none d-lg-block d-print-block">Hide up to large on screen, but always show on print</div>

<hr>

